.navbar-brand {
    flex-grow: 2;
    display: flex;
    justify-content: center;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    cursor: default;
    color: yellow;
}

.box {
    display: flex;
    justify-content: center;
}

.float-images {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.circle-image {
    height: 200px;
    margin: 0 130px;
    margin-top: 10%;
    border-radius: 50%;
}

.poke {
    height: 20px;
    border-radius: 50%;
}

.footer-bottom {
    margin-top: 10%;
}