.navbar-brand {
    flex-grow: 100;
    display: flex;
    justify-content: center;
}
  
.nav-link {
    color: black;
}

.circle-image {
    object-fit: cover;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: absolute;
    bottom: 70px; /* css percobaan */
}

.card-custom .custom { /* css percobaan */
    width: 25px;
    height: 25px;
    position: absolute;
    bottom: 10px;
    left: 12px;
    border-radius: 50%;
}

.card {
  background-color: dodgerblue; /* Change the color here */
}

.name {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 15px;
    color: white;
    padding: 2px 5px;
}

.card-custom {
    margin-right: 10px; /* Change the value as needed */
}

.footer-bottom {
    margin-top: 10%;
}